<!DOCTYPE html>
<html lang="en" data-ng-app="YouRequest">
	<head>
		<meta charset="UTF-8">
		<title>YouRequest</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen:700' rel='stylesheet' type='text/css'>
		<link href="style.css" rel="stylesheet" media="screen">

	</head>
	<body data-ng-controller="YRCtrl">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<header>
					<h1 id="appname">You<strong>Request</strong></h1>
					<div id="wrap">
						<form id="search" data-ng-submit="search()">
							<input id="query" name="q" type="text" placeholder="What are we looking for?" data-ng-model="query" autocomplete="off">
	        				<input id="search_submit" type="submit">
						</form>
					</div>
				</header>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-12" id="player">
							<div id="placeholder" style="width: 100%"></div>
							<div id="currvideotitle">
								<span>{{videotitle}}</span><button class="btn" data-ng-click="clearList()">Clear</button>
							</div>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div id="list">
								<div id="playlistcontainer" data-ng-repeat="video in playlist">
									<div id="playlistvideo"  data-ng-click="play(video.id, video.title, $index)">
										<span>{{video.title}}</span>
									</div>
									<div id="remove" data-ng-click="removeVideo($index)">
										<span><strong>Remove</strong></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4" id="searchresults">
					<div class="video" data-ng-repeat="video in results" data-ng-click="queue(video.id, video.title)">
				        <img class="video-image" data-ng-src="{{ video.thumbnail }}">
				        <div class="video-description">
					        <span class="video-title">{{ video.title }} <br></span>
					        <span class="video-author text-muted">{{ video.author }}</span>
				    	</div>
			      	</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
	<footer style ="width: 100%;">
		<div class="container">
			<p>Built with AngularJS</p>
		</div>
	</footer>
</html>